.navbar {
  background-color: #8981BB; /* Colore uniforme dalla palette */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif; /* Applica il font a tutta la navbar */
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #F8F8F9; /* Testo chiaro */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-spacer {
  flex: 1;
}

.navbar-links {
  display: flex;
  gap: 16px;

  a {
    color: #F8F8F9; /* Colore chiaro per i link */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif; /* Applica il font ai link */

    &.active {
      color: #214869; /* Colore per il link attivo dalla palette */
    }
  }
}

.menu-icon {
  color: #F8F8F9; /* Icona del menu di colore chiaro */
  display: none; /* Nascondi l'icona del menu per schermi grandi */
  font-family: 'Roboto', sans-serif; /* Applica il font anche all'icona del menu */
}

/* Media query per schermi piccoli */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Nascondi le icone di navigazione su schermi piccoli */
  }

  .menu-icon {
    display: block; /* Mostra l'icona del menu su schermi piccoli */
  }
}

::ng-deep .mat-tooltip {
  background-color: #60656D; /* Colore di sfondo del tooltip */
  color: #F8F8F9; /* Colore del testo nel tooltip */
  font-size: 0.875rem; /* Cambia la dimensione del font */
  padding: 8px 10px; /* Cambia il padding */
}
