.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 4.5rem;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;

  // Media query per schermi grandi
  @media (min-width: 1024px) {
    overflow: hidden;
    height:auto;
  }

  .tickets{
    display: flex;
    flex-direction: column;
    gap:10px;

    input{
      margin: 0 auto;
      width: 60%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid #6AA7CB;
      margin-bottom:10px;
    }
        
  }

 

  // Media query per dispositivi mobili in landscape (modalità orizzontale)
  @media (max-width: 600px) and (orientation: landscape) {
    padding: 1rem;
    overflow-y: auto; // Permette lo scorrimento verticale
    height: 100vh; // Limita l'altezza al 100% della viewport
    width: 100%; // Assicurati che la card occupi tutta la larghezza
  }

  .ticket-selection{
    text-align: center;
    font-size: 1.3rem;
    color:#fff;
  }

  // Media query per tablet e schermi medi (fino a 1024px)
  @media (min-width:600px) and (max-width: 1024px){
    padding: 2.5rem;
    overflow-y:scroll;
    
    .title {
      font-size: 1.75rem;
    }
    .desc {
      

      .tickets{
        
        

        label{
          font-size: 0.9rem !important;
          margin: 0 auto !important
        } 
  
        input{
          margin: 0 auto !important;
          margin-top:5px !important;
          width:50%;
        }
      }
      font-size: 1.1rem;
      text-align: center;

      
    }


    .lists .list {

      font-size: 1.1rem;
    }
    button {
      font-size: 1.1rem;
    }
  }

  // Media query per schermi piccoli come smartphone
  @media (max-width: 600px) {
    padding: 1.5rem;
    width: 100%;
    .title {
      text-align: center;
      font-size: 1.2rem !important;
      
    }
    .desc {
      text-align: center;
      font-size: 0.8rem !important;
      label{
        font-size: 0.9rem !important;
        margin: 0 auto !important
      }

      input{
        margin: 0 auto !important;
        margin-top:5px !important;
        width:50%;
      }
    }
    .lists  {
      border:3px solid green;
      .list{
        margin: 0 auto;
        padding: 0.5rem;
        border:3px solid red; 
        font-size: 0.90rem !important;


        h1{
          text-align: center;
          font-size: 1.2rem !important;
        }
      }
      .ticket-selection{
        text-align: center !important;
        margin: 0 auto;
        
        label{
          font-size: 0.9rem !important;
          margin: 0 auto !important
        }

        input{
          margin: 0 auto !important;
          margin-top:5px !important;
          width:50%;
        }
      }
    }

    button {
      font-size: 1rem !important;
    }
    
  }

  // Icona di chiusura
  span mat-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;

    @media (max-width: 600px) {
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1.75rem;
    }
  }

  mat-icon:hover {
    color: #3498db !important;
  }

  .ticket-selection {
    padding: 1rem;
    border-radius: 8px;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }

    input[type='number'] {
      width: 100%;
      padding: 0.5rem;
      font-size: 1.1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .error-message {
      color: #f44336 !important;
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .title, .price {
    text-align: center;
  }

  .title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #fff;
  }

  .price {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
  }

  .desc {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    font-size: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }

  .lists {
    margin-bottom: 1.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: rgba(156, 163, 175, 1);
  }

  .lists .list {
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 0.5rem;
    font-size: 1.25rem;
  }

  .lists .list svg {
    height: 1.75rem;
    width: 1.75rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: rgba(167, 139, 250, 1);
  }

  // Pulsante di azione (Paga)
  button {
    width: 100%;
    padding: 1.25rem;
    font-size: 1.25rem;
    background-color: #6AA7CB;
    color: #f7f7f7;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;

    &:hover {
      background: #3498db;
      color: #fff;
    }
    
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    // Media query per schermi piccoli (smartphone)
    @media (max-width: 600px) {
      padding: 1rem;
      font-size: 1.4rem;
    }
  }
  @media(max-width: 800px) and (orientation: landscape){
    overflow-y: scroll;
    height:auto;
  }
}
