<div class="card">
  <span> <mat-icon (click)="onCancel()" style="color:#f7f7f7;">close</mat-icon></span>
  <!-- Header Section -->
  <div class="header">
    <span class="title">{{event.name}}</span>
  </div>

  <!-- Description Section -->
  <p class="desc"><strong>{{ event.description }}</strong></p>

  <!-- List of Features or Benefits -->
  <ul class="lists">
    
    <li class="list">
      <p> <strong> {{ event.date | date }} </strong> - <strong> {{event.time}}  </strong> </p>
    </li>
  
    <li class="list">
      <p><strong>Luogo:</strong> {{ event.location }}</p>
    </li>
  
    <li class="list">
      <p><strong>Biglietti Disponibili:</strong> {{ event.availableTickets }}</p>
    </li>

    <li class="list">
      <h1><strong>Prezzo:</strong> {{ event.price | currency }}</h1>
    </li>

    <div class="ticket-selection">
      <label for="tickets">Seleziona numero di biglietti:</label>
      <input type="number" id="tickets" [(ngModel)]="tickets" min="1" max="{{event.availableTickets}}" />
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  
  </ul>

  <!-- Call to Action Button -->  

  <button [disabled]="tickets <= 0" type="button" class="action" (click)="onPurchase()">
    Paga €{{ tickets > 0 ? event.price * tickets : 0}}
  </button>
</div>
