<div class="card">
  <span> <mat-icon (click)="onCancel()" style="color:#f7f7f7;">close</mat-icon></span>
  <!-- Header Section -->
  <div class="header">
    <span class="title">{{event.name}}</span>
  </div>

    <div class="container">
      <p class="desc"><strong>{{ event.description }}</strong></p>
      <p class="desc"> <strong> {{ event.date | date }} </strong> - <strong> {{event.time}}  </strong> </p>
      <p class="desc"><strong>Luogo:</strong> {{ event.location }}</p>
      <p class="desc"><strong>Biglietti Disponibili:</strong> {{ event.availableTickets }}</p>
      <h1 class="desc"><strong>Prezzo:</strong> {{ event.price | currency : 'EUR' }}</h1>

      <div class="desc tickets">
        <label for="tickets">Seleziona numero di biglietti:</label>
        
        <input type="number" id="tickets" [(ngModel)]="tickets" min="1" max="{{event.availableTickets}}" />
        <div *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</div>
      </div>
    </div>



  <button [disabled]="tickets <= 0" type="button" class="action" (click)="onPurchase()">
    Paga €{{ tickets > 0 ? event.price * tickets : 0}}
  </button>
</div>
