

 <!-- Spinner -->
 <div class="loading-spinner" *ngIf="isLoading || buyEventLoading">
    <div class="spinner"></div>
    <p>Caricamento in corso...</p>
</div>  

<div class="notification">
  <div *ngIf="viewNotification && success" class="snackbar success" [ngClass]="{'show': viewNotification }">
    <button class="close-btn" (click)="closeNotification()"><mat-icon>close</mat-icon></button>
    Acquisto avvenuto con successo
  </div>
  <div *ngIf="viewNotification && !success" class="snackbar error" [ngClass]="{'show': viewNotification }">
    <button class="close-btn" (click)="closeNotification()"><mat-icon>close</mat-icon></button>
    Errore durante l'acquisto
  </div>
</div>


<div class="event-container" *ngIf="!isLoading && !buyEventLoading">
    

    <div class="filters">
      <input type="text" placeholder="Categoria" [(ngModel)]="filters.category">
      <input type="text" placeholder="Località" [(ngModel)]="filters.location">
      <input type="text" placeholder="Nome Evento" [(ngModel)]="filters.name">
      <input type="date" placeholder="Data" [(ngModel)]="filters.date">
      <button (click)="applyFilters()">Applica Filtri</button>
      <button (click)="cleanFilters()" [disabled]="!canClean">Ripristina Filtri</button>
    </div>
  

    <!-- src/app/components/my-card.component.html -->
<div class="event-list" *ngIf="events.length != 0">
  <div class="event-card" *ngFor="let event of events">
    <div class="card-container">
      <div class="card-content">
        <div class="card-header">{{event.location}}   {{event.date}} - {{event.time}}</div>
        <p class="card-title">{{event.name}}</p>
        <p class="card-description">{{event.description}}</p>
        <p class="card-description">Categoria: <strong>{{event.category}}</strong></p>
        <div class="separator">
          <div>
            <h2>{{event.price | currency : 'EUR'}}</h2>
          </div>
          <div class="card-actions">
            <button (click)="openDialogReserveEvent(event)" *ngIf="event.availableTickets > 0">Acquista</button>
            <p *ngIf="event.availableTickets == 0" class="noMoreTickets"><strong>Sold Out</strong></p>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>


    
    <!-- Paginazione -->
    <div class="pagination" *ngIf="events.length != 0" [ngStyle]="{ 'margin-top': events.length > 2 ? '5%' : 'auto' }">
      <button (click)="previousPage()" [disabled]="page <= 0">Precedente</button>
      <span>Pagina {{ page + 1 }} di {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="page >= totalPages - 1">Successiva</button>
    </div>

    <div *ngIf="events.length == 0 && !isLoading" class="no-events-message">
      <h1>Nessun Evento Disponibile</h1>
    </div>
    
</div>





