<mat-toolbar class="navbar">
  <!-- Logo e titolo a sinistra -->
  <span class="navbar-title">BookedOne</span>

  <!-- Spazio per allineare gli elementi -->
  <span class="navbar-spacer"></span>

  <!-- Menu hamburger per schermi piccoli -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menu di navigazione per schermi grandi -->
  <div class="navbar-links">
    <a mat-icon-button routerLink="profile" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
    </a>
    <a mat-icon-button routerLink="seller-events" routerLinkActive="active">
      <mat-icon>event</mat-icon> 
    </a>
    <a mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </a>
  </div>
  

</mat-toolbar>

<!-- Menu a tendina per schermi piccoli -->
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="profile" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon> Profilo
  </button>
  <button mat-menu-item routerLink="events" routerLinkActive="active">
    <mat-icon>event</mat-icon> Eventi
  </button>
  <button mat-menu-item (click)="logout()" routerLinkActive="active">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-menu>

<!-- Contenuto principale -->
<router-outlet></router-outlet>

