
<div class="loading-spinner" *ngIf="isLoading">
    <div class="spinner"></div>
    <p style="color:#f7f7f7;">Caricamento in corso...</p>
  </div>  
  
  <!-- Contenitore delle notifiche -->
  <div class="alert-container" *ngIf="viewNotification && !isLoading">
    <div role="alert" class="alert alert-success" *ngIf="success">
      <p class="alert-text">Evento creato con successo</p>
    </div>
  
    <div role="alert" class="alert alert-error" *ngIf="!success && errorMessage">
        <p class="alert-text">Errore creazione evento <br> {{errorMessage}}</p>  
    </div>
  </div>


<div class="form-container" *ngIf="!isLoading">
    <p class="title">Crea Evento</p>
    <form [formGroup]="createEventForm" class="form" (ngSubmit)="createEvent()">
      
      <div class="input-group">
        <label for="titolo" class="label">Titolo Evento</label>
        <input type="text" formControlName="titolo" id="titolo" />
      </div>
  
      <div class="input-group">
        <label for="descrizione" class="label">Descrizione</label>
        <input type="textarea" formControlName="descrizione" id="descrizione" />
      </div>
  
      <div class="input-group">
        <label for="luogo" class="label" *ngIf="!locationErrorMessage">Luogo</label>
        <label for="data" class="label"  *ngIf="locationErrorMessage" style="color:red;">{{locationErrorMessage}}</label>
        <input type="text" formControlName="luogo" id="luogo" />
      </div>
  
      <div class="input-group">
        <label for="data" class="label" *ngIf="!dataErrorMessage">Data</label>
        <label for="data" class="label"  *ngIf="dataErrorMessage" style="color:red;">{{dataErrorMessage}}</label>
        <input type="date" formControlName="data" id="data" />
      </div>
  
      <div class="input-group">
        <label for="ora" class="label" *ngIf="!timeErrorMessage">Ora</label>
        <label for="data" class="label"  *ngIf="timeErrorMessage" style="color:red;">{{timeErrorMessage}}</label>
        <input type="time" formControlName="ora" id="ora" />
      </div>
  
      <div class="input-group">
        <label for="categoria" class="label">Categoria</label>
        <input type="text" formControlName="categoria" id="categoria" />
      </div>
  
      <div class="input-group">
        <label for="prezzo" class="label">Prezzo</label>
        <input type="number" formControlName="prezzo" id="prezzo" />
      </div>
  
      <div class="input-group">
        <label for="bigliettiDisponibili" class="label">Biglietti Disponibili</label>
        <input type="number" formControlName="bigliettiDisponibili" id="bigliettiDisponibili" />
      </div>
  
      <input class="button submit" type="submit" [disabled]="createEventForm.invalid || isLoading" value="Crea Evento" />
      <input class="button clear" [disabled]="isLoading" (click)="onCancel()"  value="Ripristina" />
    
    </form>
  </div>
  