:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media(max-width: 1024px) {
    height:auto;
  }

  @media(max-width: 480px) {
    height: 100vh;
  }
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  margin: 0 auto;
  width: 50%;
  min-height: 85%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Media query per schermi piccoli */
  @media (max-width: 768px) {
    width: 80%;
    height: auto;
  }

  @media (max-width: 480px) {
    width: 95%;
    padding: 10px;
  }

  h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    @media (max-width: 480px) {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }
}

.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 480px) {
    gap: 0.75rem;
  }
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"],
.form select {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
  
  @media (max-width: 480px) {
    padding: 0.75rem 0.5rem;
  }
}

.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form input[type="text"]:focus,
.form select:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;

  @media (max-width: 480px) {
    padding: 0.75rem 0.5rem;
    font-size: 0.8rem;
  }
}

.form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.form .submit:disabled{
  background-color: var(--bg-light);
  color: var(--bg-dark);
  cursor: not-allowed;
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
  text-align: center;

  @media (max-width: 480px) {
    font-size: 0.85rem;
  }
}

.span a {
  color: var(--clr);
}

/* Stile per i messaggi di errore */
.error {
  color: red; /* Colore rosso per i messaggi di errore */
  font-size: 1.3rem;
  margin-top: 2.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  @media (max-width: 480px) {
    font-size: 1rem;
    margin-top:5%;
  }
}


//contorno input// Contorno predefinito nero per tutti gli input
.form input[type="text"].ng-touched,
.form input[type="email"].ng-touched,
.form input[type="password"].ng-touched,
.form select.ng-touched {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: 2px solid black; // Contorno predefinito nero
  display: flex;
  align-items: center;
  background-color: var(--clr-alpha);
  outline: none;

  @media (max-width: 480px) {
    padding: 0.75rem 0.5rem;
  }
}

// Cambia il contorno in base alla validità e al focus
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form select:focus {
  border-color: blue; // Contorno blu quando il campo è in focus
}

.form input[type="text"].ng-valid:focus,
.form input[type="email"].ng-valid:focus,
.form input[type="password"].ng-valid:focus,
.form select.ng-valid:focus {
  border-color: blue; // Contorno blu anche quando il campo è valido e in focus
}

.form input[type="text"].ng-valid:not(:focus),
.form input[type="email"].ng-valid:not(:focus),
.form input[type="password"].ng-valid:not(:focus),
.form select.ng-valid:not(:focus) {
  border-color: green; // Contorno verde quando il campo è valido e non è in focus
}

.form input[type="text"].ng-invalid:not(:focus),
.form input[type="email"].ng-invalid:not(:focus),
.form input[type="password"].ng-invalid:not(:focus),
.form select.ng-invalid:not(:focus) {
  border-color: red; // Contorno rosso quando il campo è non valido e non è in focus
}
