<div class="center">
  <!-- Spinner durante il caricamento -->
  <div class="spinner" *ngIf="isLoading"></div>   

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <h1>Registrati a BookedOne</h1>

  

  <form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit()">
    <span class="input-span">
      <label for="firstName" class="label">Nome</label>
      <input type="text" formControlName="firstName" id="firstName" />
    </span>

    <span class="input-span">
      <label for="lastName" class="label">Cognome</label>
      <input type="text" formControlName="lastName" id="lastName" />
    </span>

    <span class="input-span">
      <label for="email" class="label">Email</label>
      <input type="email" formControlName="email" id="email" />
    </span>

    <span class="input-span">
      <label for="password" class="label">Password</label>
      <input type="password" formControlName="password" id="password" />
    </span>

    <span class="input-span">
      <label for="confirmPassword" class="label">Conferma Password</label>
      <input type="password" formControlName="confirmPassword" id="confirmPassword" />
    </span>

    <span class="input-span">
      <label for="ruolo" class="label">Ruolo</label>
      <select formControlName="ruolo" id="ruolo">
        <option value="" disabled selected>Scegli un ruolo</option>
        <option value="venditore">Venditore</option>
        <option value="cliente">Cliente</option>
      </select>
    </span>

    <input class="submit" type="submit" [disabled]="registerForm.invalid || isLoading" value="Registrati" />

    <span class="span">Sei già registrato? <a routerLink="/login">Accedi</a></span>
  </form>
</div>
