.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #8981BB; // Colore del loader
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #214869; // Sfondo chiaro

  @media(max-width: 1024px) {
    height: auto;
  }

  @media(max-width: 480px) {
    height: 100vh;
  }
}

.center {
  margin: 0 auto;
  width: 40%;
  background-color: #F8F8F9; // Sfondo uniforme
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); // Ombreggiatura leggera
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 80%;
    height: auto;
  }

  @media (max-width: 480px) {
    width: 95%;
    padding: 10px;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #214869; // Colore del testo
    margin-top: 2rem;

    @media (max-width: 480px) {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }
}

.form {
  --bg-light: #F8F8F9;
  --bg-dark: #214869;
  --clr: #6AA7CB;
  --clr-alpha: #60656D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; // Cambia da center a space-between
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;

  @media (min-width: 1024px) {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 480px) {
    gap: 0.75rem;
  }
}

.container-button {
  
  display: flex;
  flex-direction: column;
  align-items: center; // Allinea gli elementi al centro orizzontalmente
  margin-top: auto; // Spinge il container-button verso il basso


  @media (min-width: 1024px) {
    min-width:215%;
    margin: 0 auto;
    
    .span{
      margin-top:10px;

    }

    
  }
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 1024px) {
    width: 100%;
  }
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"],
.form select {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  background-color: var(--clr-alpha);
  color: #F8F8F9;
  outline: 2px solid var(--bg-dark);

  @media (max-width: 480px) {
    padding: 0.75rem 0.5rem;
  }
}


.form select {
  max-width: 100%;
  font-size: 1rem;

  @media (max-width: 480px) {
    font-size: 1.1rem;
  }
}

.form input:focus,
.form select:focus {
  outline: 2px solid var(--clr); // Colore al focus
}

.label {
  align-self: flex-start;
  color: #214869; // Colore delle etichette
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  border-radius: 3rem;
  background-color: var(--clr); // Colore pulsante
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;

  @media (max-width: 480px) {
    padding: 0.75rem 0.5rem;
    font-size: 0.8rem;
  }
}

.form .submit:hover {
  background-color: #8981BB; // Hover pulsante
}

.form .submit:disabled {
  background-color: #e0e0e0;
  color: #b0b0b0;
  cursor: not-allowed;
}

.span {
  text-decoration: none;
  color: #214869; // Colore testo span
  text-align: center;

  @media (max-width: 480px) {
    font-size: 0.85rem;
  }
}

.span a {
  color: #214869; // Colore link

  &:hover {
    color: #60656D; // Hover link
  }
}

.error {
  color: #e74c3c; // Colore errori
  font-size: 1.3rem;
  margin-top: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  @media (max-width: 480px) {
    font-size: 1rem;
    margin-bottom: 5%;
  }
}

// Stili per validità e contorni degli input
.form input.ng-valid:focus {
  border-color: #6AA7CB; // Colore validità focus
}

.form input.ng-invalid:not(:focus) {
  border-color: #e74c3c; // Colore errore
}

