.reservations-container {
  padding: 20px;
  max-width: 800px; // Maggiore larghezza per schermi più ampi
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 93vh;

  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // Migliore distribuzione dei filtri
    gap: 15px;
    margin-bottom: 20px;

    input, select {
      flex: 1 1 200px; // Larghezza minima maggiore per i filtri
      min-width: 150px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      transition: border-color 0.3s, box-shadow 0.3s;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    mat-checkbox {
      display: flex;
      align-items: center;
      flex: 1 1 200px;
      min-width: 150px;
      
      .mat-checkbox-inner-container {
        border-radius: 4px;
      }
      
      .mat-checkbox-frame {
        border-color: #ddd;
      }

      .mat-checkbox-checked {
        .mat-checkbox-background {
          background-color: #007bff;
        }
      }

      .mat-checkbox-label {
        margin-left: 8px;
        font-size: 1rem;
      }
    }

    button {
      flex: 0 0 auto;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #0056b3;
        transform: scale(1.05);
      }

      &:disabled{
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .reservation-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;

    .button_delete {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      margin-top: 0;
      font-size: 1.5rem;
    }

    p {
      margin: 5px 0;
    }

    button {
      padding: 8px 15px;
      background-color: #d32f2f;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #b71c1c;
        transform: scale(1.05);
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: auto;
    padding: 10px;

    button {
      padding: 10px;
      border: 1px solid #3498db;
      background: #fff;
      color: #3498db;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s, transform 0.2s;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:hover {
        background: #3498db;
        color: #fff;
        transform: scale(1.05);
      }
    }
  }
}

.no-events-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: #666;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin: 5% auto 0 auto;
  width: 80%;

  h1 {
    margin: 0;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
    padding: 20px;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
    padding: 15px;
  }
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
