<div class="loading-spinner" *ngIf="isLoading">
  <div class="spinner"></div>
  <p style="color:#f7f7f7;">Caricamento in corso...</p>
</div>  

<!-- Contenitore delle notifiche -->
<div class="alert-container" *ngIf="viewNotification && !isLoading && !isDeleting">
  <div role="alert" class="alert alert-success" *ngIf="success">
    <p class="alert-text">Prenotazione annullata con successo</p>
  </div>

  <div role="alert" class="alert alert-error" *ngIf="!success">
    <p class="alert-text">Errore durante l'annullamento, riprova</p>
  </div>
</div>

<!-- Contenitore delle prenotazioni -->
<div class="reservations-container" *ngIf="!isLoading">
  <h1 class="title-reservations">Le tue prenotazioni</h1>
  
  <!-- Filtri per le prenotazioni -->
  <div class="filters">
    <input type="text" placeholder="Categoria" [(ngModel)]="category">
    <input type="text" placeholder="Località" [(ngModel)]="location">
    <input type="text" placeholder="Nome Evento" [(ngModel)]="name">
    <input type="date" placeholder="Data" [(ngModel)]="date">

    <label>
      <input type="checkbox" [(ngModel)]="expired">
      Eventi scaduti
    </label>

    <button (click)="applyFilters()" [disabled]="!category && !location && !name && !date && !expired">Applica Filtri</button>
    <button (click)="cleanFilters()" [disabled]="!canClean">Ripristina Filtri</button>
  </div>
  
  <!-- Lista delle prenotazioni -->
  <div class="event-list" *ngIf="reservations.length != 0">
    <div class="reservation-card" *ngFor="let reservation of reservations">
      <div class="card-container">
        <div class="card-content">
          <div class="header_content">
            <p class="card-title"> <strong>{{ reservation.event.name }}</strong> </p>
            
            <p class="card-title expired" *ngIf="isEventExpired(reservation.event)">Scaduto</p> 
          </div>
          <div class="card-header">{{ reservation.event.location }} - {{ reservation.event.date | date : 'dd/MM/yyyy' }} - {{ reservation.event.time }}</div>
          <p class="card-description" style="margin-top:5%;"> <strong>{{ reservation.event.description }}</strong></p>
          <p><strong>Biglietti Prenotati:</strong> {{ reservation.reservation.numberOfTickets }}</p>
          <p class="card-description"><strong>Categoria</strong>: {{ reservation.event.category }}</p>
          <p><strong>Prezzo Totale:</strong> {{ reservation.reservation.totalPrice | currency : 'EUR' }}</p>
          <div class="separator">
            <div>  
            </div>
            <div class="card-actions">
              <!-- Se è scaduto allora value="Elimina Evento " altrimenti è annulla prenotazione -->
              <button class="delete-button" (click)="deleteReservation(reservation)" *ngIf="isEventExpired(reservation.event)">Elimina Evento</button>
              <button class="delete-button" (click)="deleteReservation(reservation)" *ngIf="!isEventExpired(reservation.event)">Annulla Prenotazione</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Paginazione -->
  <div class="pagination" *ngIf="reservations.length != 0" [ngStyle]="{ 'margin-top': reservations.length > 2 ? '5%' : 'auto' }">
    <button (click)="previousPage()" [disabled]="currentPage === 0">Precedente</button>
    <span>Pagina {{ currentPage + 1 }} di {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Successiva</button>
  </div>

  <!-- Nessuna prenotazione disponibile -->
  <div *ngIf="reservations.length == 0 && !isLoading" class="no-events-message">
    <h1>Nessuna prenotazione disponibile</h1>
  </div>

</div>
