
<div class="loading-spinner" *ngIf="isLoading">
  <div class="spinner"></div>
  <p>Caricamento in corso...</p>
</div>  

<div class="reservations-container" *ngIf="!isLoading">
    <!-- Filtri -->
  <div class="filters">
    <input type="text" placeholder="Categoria" [(ngModel)]="category">
    <input type="text" placeholder="Località" [(ngModel)]="location">
    <input type="text" placeholder="Nome Evento" [(ngModel)]="name">
    <input type="date" placeholder="Data" [(ngModel)]="date">
    <button (click)="applyFilters()">Applica Filtri</button>
    <button (click)="cleanFilters()">Ripristina Filtri</button>
  </div>
  
  <div *ngIf="reservations.length != 0">
    <div class="reservation-card" *ngFor="let reservation of reservations">
      <h2>{{ reservation.event.name }}</h2>
      <p>{{ reservation.event.description }}</p>
      <p><strong>Data:</strong> {{ reservation.event.date }}</p>
      <p><strong>Ora:</strong> {{ reservation.event.time }}</p>
      <p><strong>Luogo:</strong> {{ reservation.event.location }}</p>
      <p><strong>Categoria:</strong> {{ reservation.event.category }}</p>
      <p><strong>Biglietti Prenotati:</strong> {{ reservation.reservation.numberOfTickets }}</p>
      <div class="button_delete">
        <p><strong>Prezzo Totale:</strong> {{ reservation.reservation.totalPrice | currency }}</p>
        <button class="delete-button" (click)="deleteReservation(reservation)">
          Elimina Prenotazione
        </button>
      </div>
    </div>
  </div>
  
  <div class="pagination" *ngIf="reservations.length != 0">
    <button (click)="previousPage()" [disabled]="currentPage === 0">Precedente</button>
    <span>Pagina {{ currentPage + 1 }} di {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= totalElements">Successivo</button>
  </div>


  <div *ngIf="reservations.length == 0 && !isLoading" class="no-events-message">
    <h1>Nessuna prenotazione disponibile</h1>
  </div>
    
</div>
