<div class="dialog-container">
  <form class="update-form">
    <div class="form-group">
      <label for="firstName">Nome:</label>
      <input id="firstName" [(ngModel)]="user.firstName" [attr.disabled]="isDisabledName ? true : null" />
      <button type="button" class="icon-button" (click)="toggleEditName()">
        <mat-icon>{{ isDisabledName ? 'edit' : 'check' }}</mat-icon>
      </button>
    </div>
    
    <div class="form-group">
      <label for="lastName">Cognome:</label>
      <input id="lastName" [(ngModel)]="user.lastName" [attr.disabled]="isDisabledSurname ? true : null" />
      <button type="button" class="icon-button" (click)="toggleEditSurname()">
        <mat-icon>{{ isDisabledSurname ? 'edit' : 'check' }}</mat-icon>
      </button>
    </div>
    
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" [(ngModel)]="user.password" [attr.disabled]="isDisabledPassword ? true : null" />
      <button type="button" class="icon-button" (click)="toggleEditPassword()">
        <mat-icon>{{ isDisabledPassword ? 'edit' : 'check' }}</mat-icon>
      </button>
    </div>
  </form>
</div>
