<div class="form-container">
  <mat-icon  (click)="onCancel()">close</mat-icon>
	<p class="title">Modifica Profilo</p>
	<form class="form">
		<div class="input-group">
			<label for="username" *ngIf="user.firstName != '' ">Nome</label>
      <label for="username" *ngIf="user.firstName === '' && !isDisabledName" style="color:red;">Il nome non può essere vuoto.</label>
      <input id="firstName" name="firstName" [(ngModel)]="user.firstName" [attr.disabled]="isDisabledName ? true : null" />
		</div>
    <div class="input-group">
			<label for="username" *ngIf="user.lastName != '' ">Cognome</label>
      <label for="username" *ngIf="user.lastName === '' && !isDisabledSurname" style="color:red;">Il cognome non può essere vuoto.</label>
      <input id="lastName" name="lastName" [(ngModel)]="user.lastName" [attr.disabled]="isDisabledSurname ? true : null" />
		</div>
    <h2 style="margin-top:5%;">Modifica password</h2>

		<div class="input-group" style="margin-bottom:4%;">
			<label for="password" *ngIf=" !isVerifingPassword && !passwordIsVerified && !errorMessage">Password Attuale</label>
      <label for="password" *ngIf="!isVerifingPassword && !passwordIsVerified && errorMessage" style="color:red;">{{errorMessage}}</label>
      <label for="password" *ngIf="!isVerifingPassword && passwordIsVerified" style="color:green;">Password verificata</label>
			<input id="password" name="password" type="password" [(ngModel)]="user.password" [disabled]="passwordIsVerified"/>
    <div>
      <button *ngIf="!isVerifingPassword && !passwordIsVerified" type="button" class="icon-button" (click)="verifyPassword(user.password)" [disabled]="!user.password">
        Verifica password
      </button>
    </div>

      
      <mat-spinner *ngIf="isVerifingPassword" diameter="20"></mat-spinner>
		</div>
    <div class="input-group" *ngIf="passwordIsVerified">
			<label for="password">Nuova Password</label>
			<input id="newPassword" name="newPassword" type="password" [(ngModel)]="newPassword" [disabled]="!passwordIsVerified" />
		</div>
    <div class="input-group" *ngIf="passwordIsVerified">
			<label for="password">Conferma Password</label>
			<input id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="confirmPassword" [disabled]="!passwordIsVerified" />
		</div>
		<button class="sign" [disabled]="isAnyInputInvalid()" (click)="update()">Modifica</button>
	</form>
	
</div>
